@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.settings {
    height: 100vh;
    background-color: $secondary;
    @include flex-complete($direction: column, $justify: flex-start, $align: flex-start);

    & > div {
        margin: 8px;
        & > p {
            padding-top: 8px;
        }
        & > button {
            margin-top: 16px;
        }
    }

    .adminLink {
        @include flex-complete($direction: column, $justify: flex-start, $align: flex-start);
        h3{
            padding-bottom: 8px;
        }
    }
}
