@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.displayPost {
    width: 100%;
    background-color: white;
    margin: 16px 0 16px 0;
    border-radius: 8px;
    box-shadow: $boxShadowSmall;
    @media only screen and (min-width: $tablet) {
        margin: 20px 8px 24px 8px;
        width: 280px;
        &.landscape {
            width: 350px;
            margin: 20px 16px 24px 16px;
            &.singleView{
                width: 550px;
            }
        }
        &.portrait {
            width: 230px;
            &.singleView{
                width: 350px;
            }
        }
    }

    .postLoader {
        margin: 0 auto;
        width: 280px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        border-radius: 8px;
        @include flex-complete($direction: row, $justify: center, $align: center);
        @media only screen and (min-width: $tablet) {
            width: 320px;
        }
    }

    .figureContainer {
        @media only screen and (min-width: $tablet) {
            width: 280px;
            &.landscape {
                width: 350px;
                &.singleView{
                    width: 550px;
                }
            }
            &.portrait {
                width: 230px;
            }
        }
        .figure {
            width: 280px;
            &.singleView{
                width: 100%;
            }
            @media only screen and (min-width: $tablet) {
                @include flex-complete($direction: column, $justify: flex-start, $align: center);
                overflow: hidden;
                width: 280px;
                &.landscape {
                    width: 350px;
                    max-height: 300px;
                    &.singleView{
                        width: 550px;
                    }
                }
                &.portrait {
                    width: 230px;
                    max-height: 300px;
                    &.singleView{
                        width: 350px;
                    }
                }
            }

            .postImage {
                width: 280px;
                padding: 4px;
                &.singleView{
                    width: 100%;
                    max-width: 350px;
                }
                @media only screen and (min-width: $tablet) {
                    width: 280px;
                    &.landscape {
                        width: 350px;
                        &.singleView{
                            min-width: 550px;
                        }
                    }
                    &.portrait {
                        width: 230px;
                        &.singleView{
                            width: 350px;
                        }
                    }
                }
            }
            figcaption {
                padding: 4px;
                font-weight: bold;
                word-wrap: break-word;
                max-width: 100%;
            }
            span {
                font-size: 10px;
                padding: 4px;
                @media only screen and (min-width: $tablet) {
                    padding: 4px;
                    font-size: 12px;
                }
            }
        }
        .commentsCountArea {
            @include flex-complete(
                $direction: row,
                $justify: space-between,
                $align: center
            );

            div {
                @include flex-complete($direction: row, $justify: center, $align: center);
                margin-left: 4px;
            }
            .commentIcon {
                cursor: pointer;
                margin: 4px;
            }
            .arrowIcon {
                cursor: pointer;
                margin: 4px;
            }
        }

        .postActions {
            @include flex-complete(
                $direction: row,
                $justify: space-between,
                $align: center
            );
            display: none;
            &.show {
                display: flex;
            }

            padding: 4px;
            button {
                color: white;
                padding: 4px;
                border: none;
                border-radius: 4px;
                &.deletePostButton {
                    background-color: $deleteColor;
                }
                &.backPostButton {
                    background-color: $darkblue;
                }
            }
        }

        .categories {
            font-size: 12px;
            text-align: center;
            display: none;
            padding: 8px;
            &.show {
                display: block;
            }

            span.category {
                padding: 2px;
                background-color: lightgray;
                margin-right: 4px;
                border-radius: 4px;
            }
        }
    }
}
