@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.admin {
    height: 100vh;
    background-color: $secondary;
    @include flex-complete($direction: column, $justify: flex-start, $align: center);

    h3 {
        margin-left: 8px;
        margin-top: 16px;
    }

    table {
        margin-top: 16px;
        margin-left: 8px;
        background-color: white;
        border-radius: 4px;

        thead {
            border-color: $primary;
            border-collapse: collapse;
            border-spacing: 0;
        }

        tr {
            border: none;
            padding: 4px 0px 4px 0px;
        }

        th {
            border: none;
            color: white;
            background-color: $primary;
            padding: 4px 8px 4px 0px;
        }
        td {
            padding: 4px 8px 4px 4px;
            @media only screen and (min-width: $tablet){
                padding: 8px 12px 8px 8px;
            }

            select{
                padding: 4px;
            }
        }
    }

    form {
        width: 100%;
        @include flex-complete($direction:row, $justify: center, $align: center);
        button {
            margin: 16px;
            padding: 8px;
            border: none;
            border-radius: 4px;
        }
    }
}
