@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.styledButton {
    padding: 8px;
    background-color: $primary;
    color: white;
    border-radius: 4px;
}

.red {
    background-color: rgb(133, 17, 17);
}
