//colors
$darkblue: #001a66;
$lightgray: #f3f4f5;
$darklightgray: #e5ecf3;
$darkerlightgray: #c7d2dd;
$namegray: rgb(211, 218, 226);
$golden: #fcefc5;

//sizes
$tablet: 764px;
$desktop: 1024px;

//effects
$boxShadowLarge: 6px 6px 12px 6px rgba(0,0,0,0.2), 6px 6px 18px 6px rgba(0,0,0,0.19);
$boxShadowSmall: 3px 3px 6px 3px rgba(0,0,0,0.2), 3px 3px 12px 3px rgba(0,0,0,0.19);