@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.timeline {
    margin: 0;
    @media only screen and (min-width: $tablet) {
        width: 100%;
        @include flex-complete($direction: row, $justify: space-around, $align: center);
        flex-wrap: wrap;
    }
}

.notice{
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    margin-top: 16px;
    box-shadow: $boxShadowSmall;
    @media only screen and (min-width: $tablet) {
        width: 500px;
        text-align: center;
    }
}
