@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.timeline {
    margin: 0;
}

.notice{
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    margin-top: 16px;
    box-shadow: $boxShadowSmall;
}
