@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.home{
    height: 100%;
    background-color: $secondary;
    @include flex-complete($direction: column, $justify: flex-start, $align: center);

    .toolbar{
        @include flex-complete($direction: row, $justify: space-between, $align: flex-start);
        width: 270px;

        button{
            border: none;
            padding: 8px;
            width: 90px;
            background-color: $secondary;
        }
    }
}

.blocked{
    overflow-y: hidden;
}